.modal {
	position: fixed;
	top: 0;
	left: 0;
	z-index: 10;
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100%;
	height: 100vh;
	padding: 10px;
	visibility: hidden;
	opacity: 0;
	transition: all 0.3s ease-in-out;

	// .modal__overlay
	&__overlay {
		position: absolute;
		z-index: 1;
		width: 100%;
		height: 100%;
		background: rgb(0 0 0 / 70%);
	}

	// .modal__content
	&__content {
		position: relative;
		z-index: 2;
		width: 100%;
		max-width: 500px;
		padding: 40px;
		background: linear-gradient(129.19deg, rgb(250 250 250 / 7%) -0.77%, rgb(164 164 164 / 0%) 140.72%);
		backdrop-filter: blur(15.7422px);
		border: 1px solid;
		border-radius: 24px;
		border-image-source: linear-gradient(134.65deg, rgb(171 171 171 / 20%) -16.8%, rgb(147 147 147 / 0%) 110.94%);
		box-shadow: 0 65px 130px -5.08px rgb(0 0 0 / 5%), inset 14.2188px 15.2344px 43.6719px rgb(194 194 194 / 5%);
	}

	// .modal__header
	&__header {
		display: flex;
		align-items: flex-start;
		justify-content: space-between;
		font-size: clamp(20px, 5vw, 40px);
		font-weight: 600;
		line-height: 44px;
		color: var(--color-modal-text);
	}

	// .modal__close
	&__close {
		flex-shrink: 0;
		width: 32px;
		height: 32px;
		cursor: pointer;
		background: none;
		border: none;
	}

	// .modal__body
	&__body {
		margin-top: 24px;
	}

	// .modal__form
	&__form {
		display: flex;
		flex-flow: column nowrap;
		gap: 16px;
	}

	// .modal__footer
	&__footer {
		display: flex;
		flex-flow: column;
		gap: 16px;
		margin-top: 24px;

		&-agree {
			display: flex;
			gap: 8px;
			align-items: flex-start;
			font-size: 12px;
			line-height: 16px;
			color: var(--color-modal-text);
			cursor: pointer;
		}
	}

	// .modal--active
	&--active {
		visibility: visible;
		opacity: 1;
	}
}
