@use './theme/theme' as theme;
@import 'mixins';
@import '../../node_modules/reset-css/sass/reset';
@import './theme/core';
@import './theme/theme';
@import 'components/sections';

:root {
  @include theme.grid-settings;
  @include theme.theme-default;
  @include theme.fonts-family;
  @include theme.fonts-size;
  @include theme.fonts-weight;
  @include theme.fonts-height;
  @include theme.indents;
  @include theme.radius;
  @include theme.transition-time;
  @include theme.transition-easing;
  @include theme.shadow;
  @include theme.blur;

  --main-font-family: 'Unbounded', 'system-ui', sans-serif;
  --color-default-text: #E0EAFF;
  --color-white: #fff;
  --color-pink: #FE64FA;
  --color-purple: #8F8FFF;
  --color-body-bg: #030014;

}
